.list_container {
  min-width: 400px;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.list_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.list_container::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 5px;
}

.list_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}