.container_work_space {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.container_work_space span {
  align-self: center;
  padding-top: 20px;
}
.container_work_space div {
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.input_wrapper {
  display: flex;
  width: 800px;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  color: black;
  position: relative;
}

.input_wrapper input {
  border: none;
  border-radius: 10px;
  min-height: 50px;
  padding: 5px 15px;
}

.input_wrapper textarea {
  border: none;
  border-radius: 10px;
  min-height: 100px;
  padding: 10px 15px;
}

.btn_save {
  padding: 0;
  margin: 0;
  align-self: center;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 200px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 25px;
  height: 50px;
  background: gainsboro;
  font-family: Gilroy, sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  outline: 0;
}

.btn_save:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  background: darkgray;
}